body {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.mealmain ul li {
  padding: 10px;
  display: inline;
  /* white-space: nowrap; */
}
input{
  margin-right: 0.5em !important ;
}
/* h1 {
  align-items: center;
  white-space: nowrap;
} */
.mealmains ul li {
  list-style: none;
  /* display: inline; */
  white-space: nowrap;
}

/* Mobile phone screen adjusted */

@media(max-width:768px) {
  .main{
      white-space: nowrap;
  }
  img{
    width: 40vh;
  }
  
}